<?xml version="1.0"?>
<!--
/*
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GNU General Public License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/gpl-license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@refersion.com so we can send you a copy immediately.
 *
 * @category   UBERCX
 * @package    Ubercx_Shippingtracking
 * @copyright  Copyright (c) 2015 JFrameworks.com, LLC.
 * @author	   Ubercx Developer <ubercx_nospam@jframeworks.com>
 * @license    http://opensource.org/licenses/gpl-license GNU General Public License
 */
-->
<config>
  <modules>
    <Ubercx_Shippingtracking>
      <version>1.0.5</version>
    </Ubercx_Shippingtracking>
  </modules>
  <global>
    <helpers>
      <shippingtracking>
        <class>Ubercx_Shippingtracking_Helper</class>
      </shippingtracking>
    </helpers>
		<models>
			<shippingtracking>
					<class>Ubercx_Shippingtracking_Model</class>
			</shippingtracking>
		</models>
		<blocks>
			<shippingtracking>
				<class>Ubercx_Shippingtracking_Block</class>
			</shippingtracking>
			<sales>
				<rewrite>
					<order_view>Ubercx_Shippingtracking_Block_Order_View</order_view>
				    <order_shipment_items>Ubercx_Shippingtracking_Block_Order_Shipment_Items</order_shipment_items>
				</rewrite>
			</sales>
		</blocks>
  </global>
	<frontend>
		<routers>
			<shippingtracking>
				<use>standard</use>
				<args>
					<module>Ubercx_Shippingtracking</module>
					<frontName>shippingtracking</frontName>
				</args>
			</shippingtracking>
		</routers>
		<layout>
			<updates>
				<shippingtracking>
					<file>shippingtracking.xml</file>
				</shippingtracking>
			</updates>
		</layout>
	</frontend>
	<default>
		<shippingtracking>
			<ubercx_api_url><![CDATA[https://api.ubercx.io/tracking/v1/getTrackingDetails?carrier=CARRIER_CODE&trackId=TRACK_ID]]></ubercx_api_url>
		</shippingtracking>
	</default>
</config> 
